body {
  padding: 0;
  margin: 0;
  * {
    box-sizing: border-box;
  }
}

.App {
  display: flex;
  padding: 0.35rem;
  gap: 0.5rem;
  min-height: 100vh;

  background: green;

  & > * {
    flex: 1;
    background: white;
  }
}
